body{

}

.container{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    


}

.card{
    background-color: green;
    width: 250px;
    padding: 20px;
    margin: 20px;
}